body {
	font-family:      "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:            black;
	background-color: #BBBBFF;
	margin:           30px;
	padding:          0;
	width: auto;
}
@media all and (max-width: 600px) {
	body {
		margin:           20px;
	}
}
@media all and (max-width: 300px) {
	body {
		margin:           10px;
	}
}
@media all and (min-width: 1460px) {
	body {
		width:           1400px;
		margin-left: auto;
		margin-right: auto;
	}
}
#Header {
	margin: 0;
}
#HeaderBanner {
	background-image: url('images/SthlmSlack_header.gif');
	background-size: cover; 
	background-position: left bottom;
	height:200px; 
	box-shadow: 10px 10px 5px #222133;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px #222133;
}
#HeaderBanner h1 {
	color: #2423B2;
	text-align: left;
	text-shadow: 2px 2px black;
	font-size: 50px;
}
#HeaderBanner h3 {
	color: yellow;
	text-align: right;
	text-shadow: 2px 2px black;
	font-size: 30px;
}
#HeaderBanner span {
	font-family: Garamond, Georgia, Serif;
	font-weight: bold;
	background: rgba(255,255,255,0.35);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#MainContent {
	background-color: white;
	padding: 30px;
	height: 100%;
}

.mainContentBorder {
	background-color: #FFD619;
	height: 10px;
	width: 100%;
}

#footer {
	background-color: #2423B2;
	color: white;
	font-size: x-small;
	text-align: center;
	clear: both;
}
p,li {
	font-size: small;
}
img {
	box-shadow: 10px 10px 5px #222133;
	margin: 20px;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.floatclear {
	clear: both;
}
#footer a {
	color: #FFF;
}

.border {
    border: 0px solid #2423B2;
}

/* navbar */
.navbar-default {
    background-color: #2423B2;
	border: #2423B2;
	border-radius: 0;
	margin-bottom:0px;
	color:white;
}
.navbar-default .navbar-nav > li > a {
	color:white;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #8174FF;
	color:white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: black;
    background-color: #FFD619;
	outline: 0;
}

