body {
	font-family:      "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:            black;
	background-color: #BBBBFF;
	margin:           30px;
	padding:          0;
}
#Header {
	margin: 0;
}
#MainContent {
	background-color: white;
	padding: 30px;
	height: 100%;
}

#mainContentBorder {
	background-color: #FFD619;
	height: 10px;
	width: 100%;
}

#footer {
	background-color: #2423B2;
	color: white;
	font-size: x-small;
	text-align: center;
	clear: both;
}
p,li {
	font-size: small;
}
img {
	box-shadow: 10px 10px 5px #222133;
	margin: 20px;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.floatclear {
	clear: both;
}
#footer a {
	color: #FFF;
}

.border {
    border: 0px solid #2423B2;
}

/* navbar */
.navbar-default {
    background-color: #2423B2;
	border: #2423B2;
	border-radius: 0;
	margin-bottom:0px;
	color:white;
}
.navbar-default .navbar-nav > li > a {
	color:white;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #8174FF;
	color:white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: black;
    background-color: #FFD619;
}

